[flake8]
extend-ignore =
    # Missing docstring in public package.
    D104
    # Missing docstring in public module.
    D100
    # Missing docstring for magic methods.
    D105
    # First line should be in imperative mood.
    D401

per-file-ignores =
    # First line should end with a period.
    # 1 blank line required between summary line and description.
    tests/*:D400,D205
max-line-length = 88
